@model SchoolProject.Models.Donation

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Donation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Name) (@Html.DisplayFor(model => model.Medicine.GenericName))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medicine.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medicine.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Donor.FirstName) @Html.DisplayFor(model => model.Donor.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReceiverNgo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReceiverNgo.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonationTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Completed)
        </dt>
        <dd class="col-sm-10">
            @{ var status = Model.Completed ? "Completed" : "Pending";}
            @Html.DisplayFor(model => status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
