
@model IEnumerable<SchoolProject.Models.Donation>

@{
    ViewData["Title"] = "My Donations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Donations</h1>

@if (!Model.Any())
{
    @if (User.IsInRole("Ngo"))
    {
        <h2>Ops! Looks like you havent received any medicines donations yet.</h2>
    }
    else
    {
        <h2>Ops! Looks like you havent donated any medicines yet.</h2>
        <a asp-action="Create" class="btn btn-primary" asp-controller="Medicines">Donate</a>
    }
}
else
{
    <div class="row">
        <div class="col">
            @if (User.IsInRole("Donor")) { 
                <a asp-action="Invoice" class="btn btn-primary btn-sm">Generate Invoice</a>
                <a asp-action="Create" class="btn btn-primary btn-sm" asp-controller="Medicines">New Donation</a>
            }
        </div>
        <div class="col d-flex justify-content-end">
            <form class="form-inline my-2 my-lg-0" method="get" asp-action="Search">
                <input class="form-control mr-sm-2" type="search" name="q" placeholder="Search" aria-label="Search" />
                <input name="page" type="hidden" value="MyDonations" />
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-auto mb-3">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 asp-for="" class="card-title">@item.Medicine.Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.Medicine.GenericName</h6>
                            <p class="card-text">@item.Medicine.Description</p>
                            @if (User.IsInRole("Ngo"))
                            {
                                <p class="card-text">Donor: @item.Donor.FirstName @item.Donor.LastName</p>
                            }
                            else if (User.IsInRole("Donor"))
                            {
                                <p class="card-text">To: @item.ReceiverNgo.Name</p>
                            }
                            <p class="card-text">@Html.DisplayNameFor(modelItem => item.Completed):
                                @{ var status = item.Completed? "Completed" : "Pending";}
                                @Html.DisplayFor(modelItem => status)
                            </p>
                            <a asp-action="Details" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Details</a>
                            @if (DateTime.Compare(DateTime.Now, item.Medicine.ExpiryDate) <= 0)
                            {
                                if (User.IsInRole("Ngo") && !item.Completed)
                                {
                                    <a asp-action="Edit" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Edit</a>
                                }
                            }
                            else
                            {
                                <h6 class="bg-danger rounded mt-1 p-2 text-center">Expired</h6>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

